<h1 style="text-align: center; color: blue; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Registro Veterinario</h1>
<div class="container" style="margin: 20px;">
    <form>
    <div class="form-row">
            <div class="form-group col-md-6">
        <div class="form-group">
            <label for="inputAddress2">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" placeholder="">
            </div>
        </div>
        <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="inputAddress2">Apellidos</label>
                    <input type="text" class="form-control" id="inputApellidos" placeholder="">
                    </div>
          </div>
        <div class="form-group col-md-6">
        <label for="inputEmail4">Correo Electronico</label>
        <input type="email" class="form-control" id="inputEmail">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Educacion Superior</label>
        <input type="text" class="form-control" id="inputEduSuperior">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Dirección</label>
      <input type="text" class="form-control" id="inputDireccion" placeholder="Calle 10 # 43">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Celular</label>
        <input type="number" class="form-control" id="inputCelular">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Fecha de Nacimiento</label>
<input type="date" class="form-control" >
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Cedula</label>
        <input type="number" class="form-control" id="inputCedula">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
         Acepto terminos y condicciones.
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
</div>